<div class="dashboard-header" style="background-image: url('./img/friends-food.jpg');">
    <div class="card-body">
        {{#if avatar}}
        <div class="avatar" style="background-image: url('./user/upload/{{avatar}}');"></div>
        {{else}}
        <div class="avatar" style="background-image: url('./img/friends-food.jpg');"></div>
        {{/if}}
    </div>
</div>

<section class="container dashboard-main">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-3 mb-3">{{name}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 text-center">
            <h2>Personal Info</h2>
            <strong>Listed Allergies</strong><br>
            {{userInfo.allergy}}<br>
            <br>
            <strong>Favorite Food</strong><br>
            {{userInfo.fdish}}
        </div>
        <div class="col-md-6">
            {{!-- event input --}}
            <div id="eventInput mb-3">
                <form class="form join-event mb-3">
                    <div class="  form-floating mb-3">
                        <input class="form-control" id="event-code" type="text" name="event-code"
                            placeholder="Enter Potluck Code" />
                        <label for="event-code">Enter Potluck Code</label>
                        <div class="invalid-feedback">
                            Please enter your first name.
                        </div>
                    </div>
                    <div class="form-group  join d-flex justify-content-center">
                        <button class="btn-fof-primary bg-success text-light" id="joinPotluck">Join Potluck</button>
                    </div>
                </form>
                <button class="btn-fof-primary mb-3" id="createPotluck">
                    <a href="/create">Create Potluck</a>
                </button>
            </div>
            {{!-- end event input --}}

            <!--close div event input  -->
            <div id="eventSummary">
                {{#if event1}}
                <div class="card mb-3">
                    {{!-- events user organized --}}
                    <div id="upcomingEvents">
                        <h4>Events You Organized</h4>
                    </div>
                    <!-- close upcoming Events -->
                    {{#each event1 as |event|}}
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5><a class="link" href="/event/{{id}}">{{theme}} on {{moment eventDate format="dddd hh:mm
                                    A
                                    MMM
                                    DD,
                                    YYYY"}}</a></h5>
                            <p>Organized by {{user.firstName}} {{user.lastName}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/if}}

                {{#if event2}}
                <div class="card">
                    {{!-- <div class="container" id="pastEvents">
                        <h4>Past Events</h4>
                    </div> --}}
                    <!-- close past events -->
                    {{!-- events user is contributing in --}}
                    <div id="upcomingEvents">
                        <h4>Events You Are Part Of</h4>
                    </div>
                    {{#each event2 as |events|}}
                    <div class="card">
                        <div class="card-header">
                            <h5><a class="link" href="/event/{{eventID}}" /a>{{event.theme}} on {{moment event.eventDate
                                    format="dddd hh:mm A MMM DD, YYYY"}}</a></h5>
                            <p>Organized by {{event.user.firstName}} {{event.user.lastName}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/if}}
            </div>
        </div> <!-- end right column -->
    </div>
</section>

<script src="/js/dashboard.js"></script>