<div class="container-fluid">
<div class="row justify-content-around ">
    <div class-" col-md-6  col-xs-12  eventContain  ">
        <div class="jumbotron">
        <div class="theme-title text-center dang"><u>
        <h3 id="eventTheme" >{{event.theme}}</h3></u>
        </div>
               <p><span class="text-primary">Invite Code: </span><span id="event-id">{{event.id}}</span> 
        <i id="copyID" data-clipboard-target="#event-id" data-descr="copy"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
        </svg></i>
        </p>
         <p><span class="text-primary">Organized By: </span><span id="event-location">{{event.user.firstName}} {{event.user.lastName}}</span></p>
        <p><span class="text-primary">Date: </span><span id="event-date">{{ moment event.eventDate format="dddd hh:mm A MMM DD, YYYY"}}</span></p>
        <p><span class="text-primary">Location: </span><span id="event-location">{{event.where}}</span></p>
        <p><span class="text-primary">Total Attendees: </span><span id="event-attendee">{{data}} </span></p>
        <p><span class="text-primary">Group Allergen Profile</span><br>(An Attendee Can Have More Than 1 Allergy):</p> 
        <p>&emsp; &emsp; {{#each allergenSummary as |allergen|}}
            {{allergen}} <br>&emsp; &emsp; 
            {{/each}}
        </p>
        <p><span class="text-primary">Potluck Profile: </span></p>
        <p>&emsp; &emsp; {{#each dishSummary as |dishType|}}
            {{dishType}} <br>&emsp; &emsp; 
            {{/each}}
        </p>
        
        <div class="row edit-del justify-content-around">
            <div class="form-group d-flex justify-content-center">
                <button class="btn btn-warning col" type="submit" id="editEvent">Edit Potluck</button>
            </div> &emsp; 
             <div class="form-group d-flex justify-content-center">
                <button class="btn btn-success col" type="submit" id="backDashboard">To Dashboard</button>
            </div> &emsp; 
            {{#if isOrganizer}}
            <div class="form-group d-flex justify-content-center">
                <button class="btn btn-danger col" type="submit" id="delEvent">Delete Potluck</button>
            </div> &emsp;
             <div class="form-group d-flex justify-content-center">
                <button class="btn btn-dark col" type="submit" id="leavePotluck">Leave Potluck</button>
            </div> 
            {{else}}
             <div class="form-group d-flex justify-content-center">
                <button class="btn btn-dark col" type="submit" id="leavePotluck">Leave Potluck</button>
            </div> 
            {{/if}}
        </div>
        </div>
        </div>

    </div>
    {{!-- close eventContain --}}

    <div class="col-md-6  col-xs-12  dishContain">
        
        <div class="" id="dishSummary" style="overflow-y:scroll">
            
            <div class="text-center dang" id="summaryTitle ">
                <h3>Food Signed Up</h3>
            </div>
            <!-- close dish summary title -->
            {{!-- dished is intentional and it works --}}
            {{#each dishes as |dished|}}

    <div class="card">
        <div class="row ">
            <div class="col-sm-9">
                <div class="card-header" style="height:200px">
                    <h5><a class="link" href="">{{dish.dishname}}</a></h5>
                        <p>Contributed by {{dish.user.firstName}} {{dish.user.lastName}}</p>
                        <p>Food Type: {{dish.dishtype}}</p>
                        <p>Food Description: ingredients and allergens here</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card-img no-gutters text-center align-middle " style="height:200px">
                    <img class=" rounded-circle img-thumbnail img-fluid " style="width: auto; height: 175px;" id="{{user.email}}"src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" alt="picture of {{user.firstName}}">
                </div>
            </div>
        </div>


    </div>
    {{!-- close eventContain --}}

    {{/each}}
    

    {{>#dish-form}}
    <div id="dishForm">
    <div class="form-group d-flex justify-content-center">
        <button class="btn btn-info col-3" type="submit" id="addDish"><a class="text-warning" href=""><h3>Dish +</h3></a></button>
    </div>  
</div>


    </div>

 

</div>
</div>

{{!-- for clipboard --}}
{{!-- https://www.npmjs.com/package/clipboard --}}
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
<script src="/js/event.js"></script>

{{!-- instantiate clipboard --}}
<script>
    var btn = document.getElementById('copyID');
      var clipboard = new ClipboardJS(btn);

      clipboard.on('success', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
      });

      clipboard.on('error', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
      });
</script>