 <div class="container-fluid">

<div class="row justify-content-around ">
    <div class-" col-md-6  col-xs-12  eventContain  ">
        <div class="jumbotron">
            <h2>Potluck:</h2>
        <div class="theme-title text-uppercase text-center dang font-weight-bold">
         
        <h1 id="eventTheme" >{{event.theme}} </h1>
        </div>

        <p><span class="text-primary">Invite Code: </span><span id="event-id">{{event.id}}</span> 
        <i id="copyID" data-clipboard-target="#event-id" data-descr="copy"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
        </svg></i>
        </p>
         <p><span class="text-primary">Organized By: </span><span id="event-organizer">{{event.user.firstName}} {{event.user.lastName}}</span></p>
        <p><span class="text-primary">Date: </span><span id="event-date">{{ moment event.eventDate format="dddd hh:mm A MMM DD, YYYY"}}</span></p>
        <p><span class="text-primary">Location: </span><span id="event-location">{{event.where}}</span>
            <i id="copyWhere" data-clipboard-target="#event-location" data-descr="copy"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
            </svg></i></p>
      
        <p><span class="text-primary">Total Attendees: </span><span id="event-attendee">{{data}} </span></p>
        <p><span class="text-primary">Group Allergen Profile</span><br>(An Attendee Can Have More Than 1 Allergy):</p> 
        <p>&emsp; &emsp; {{#each allergenSummary as |allergen|}}
            {{allergen}} <br>&emsp; &emsp; 
            {{/each}}
        </p>
        <p><span class="text-primary">Potluck Profile: </span></p>
        <p>&emsp; &emsp; {{#each dishSummary as |dishType|}}
            {{dishType}} <br>&emsp; &emsp; 
            {{/each}}
        </p>
        
        <div class="row m-5 edit-del justify-content-around">
            <div>
            <div class="form-group d-flex justify-content-center">
                <button class="btn btn-warning col" type="submit" id="editEvent">Edit Potluck</button>
            </div> &emsp; 
             <div class="form-group d-flex justify-content-center">
                <button class="btn btn-info col" type="submit" id="backDashboard">To Dashboard</button>
            </div> &emsp; 
            </div>
            <div>
            {{#if isAttendee}}
             <div class="form-group d-flex justify-content-center">
                <button class="btn btn-dark col" type="submit" id="leavePotluck">Leave Potluck</button> 
            </div> &emsp;
            {{else}}
                <div class="form-group d-flex justify-content-center">
                <button class="btn btn-success col" type="submit" id="joinPotluck">RSVP To This Potluck</button>
            </div> &emsp;
            {{/if}}

            {{#if isOrganizer}}
            <div class="form-group d-flex justify-content-center">
                <button class="btn btn-danger col" type="submit" id="delEvent" >Delete Potluck</button>
            </div> &emsp;
            {{/if}}
            </div>

        </div>
        </div>

    </div>
    {{!-- close eventContain --}}

    <div class="col-md-6  col-xs-12  dishContain">
        
        <div class="" id="dishSummary" >
            <div>
                <div class="text-center dang row justify-content-center col 7" id="summaryTitle ">
                    <h2>Food Signed Up</h2>
                    <div class="col-5"><button class="col-12 bg-light text-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                        <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                        <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                        </svg>Print Food Label</button>
                    </div>
                </div>
                <br>
            </div>
            <!-- close dish summary title -->
            {{!-- dished is intentional and it works --}}
            <div style="overflow-y:scroll">
            {{#if dishes}}
            {{#each dishes as |dished|}}

            <div class="card shadow-lg mb-2 p-1 bg-white rounded ">
                <div class="row ">
                    <div class="col-sm-7">
                        <div class="card-header" style="height:200px">
                            <h5><a class="link" href="">{{dish.dishname}}</a></h5>
                                <p>Contributed by {{dish.user.firstName}} {{dish.user.lastName}}</p>
                                <p>Food Type: {{dish.dishtype}}</p>
                                <p>Food Description: ingredients and allergens here</p>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="card-img no-gutters text-center align-middle " style="height:200px">
                            <img class=" rounded-circle img-thumbnail img-fluid " style="width: auto; height: 175px;" id="{{user.email}}"src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" alt="picture of {{user.firstName}}">
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{/if}}
        </div>
        </div>

        {{>dish-form}}

        {{!-- <div id="dishForm">


            <div class="form-group d-flex justify-content-center">
                <button class="btn btn-success col-3" type="submit" id="addDish"><h5>Dish +</h5></button>
            </div>  
        </div> --}}
        <!--close div event input  -->
    </div>
    {{!-- close dish contain --}}
</div>
{{!-- close row --}}
</div>

{{!-- for clipboard --}}
{{!-- https://www.npmjs.com/package/clipboard --}}
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
<script src="/js/event.js"></script>
<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>



{{!-- instantiate clipboard --}}
<script>
    var btn = document.getElementById('copyID');
    var clipboard = new ClipboardJS(btn);

    clipboard.on('success', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
      });

      clipboard.on('error', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
      });


    var btnWhere = document.getElementById('copyWhere');
    var clipboard2 = new ClipboardJS(btnWhere);

      clipboard2.on('success', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
      });

      clipboard2.on('error', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
      });
</script>