<br>
<div class="row justify-content-center" id="buttonRow">
  <div class="col"></div>
  <div class="text-center col w-50" style="margin:auto; ">
    <button type="button" class="bg-warning text-dark" onclick="printElement(foodLabel)">
      Print Labels
    </button>
  </div>
  <div class="col"></div>
  <div class="text-center col" style="margin:auto;"><button type="button" class="bg-warning text-dark"
      onclick="location.href = '/event/{{eventID}}';">
      Back to Event
    </button></div>
  <div class="col"></div>

</div>
<br>

<div class="container text-center justify-content-center" style="margin:auto;" id="foodLabel">
  <h6>Food Labels: cut along red line and fold paper on black middle line</h6>

  {{!-- <div class="text-center container justify-content-around" style="margin:auto"> --}}
    <div style="" class="justify-content-center row" >

      {{#each dishes as |dish|}}

      <div  style="border: thin solid red; width:305px; background-color: #36846B">
        <div style="border: thin solid black;height: 150px;width:100%; background-color: white" id="back">
        </div>
        <div style="border: thin solid black; height: 150px;width:100%; background-color: white" id="back">
          <div id="content" style=" text-align: center;">
            <br>
            <h2 style="font-family: 'Yellowtail', cursive; font-size:1.5rem ; padding:1px;" id="dish">
              {{dish.dish.dishname}}</h2>
            <h4 style="color:#F28C28; font-size:.75rem">allergens: {{dish.dish.dishallergy}}</h4>
            <h6 style="font-size:.75rem">Dish by: {{dish.dish.user.firstName}} {{dish.dish.user.lastName}}</h6>
            <h6 style="font-size:.5rem">printed by: feast-of-friends.herokuapp.com</h6>
          </div>
        </div>
      </div>

      {{/each}}

    </div>
  {{!-- </div> --}}
</div>
<script>
  function printElement(e) {
    let cloned = e.cloneNode(true);
    document.body.appendChild(cloned);
    cloned.classList.add("printable");
    window.print();
    document.body.removeChild(cloned);
  }
</script>